
.phone{
    margin-left: 30px ;
   padding-right: 20px;
    min-height: 620px;
    width: 370px;
    display: flex;
    flex-direction: column;
    background-color:rgb(69, 64, 64);
    border-radius: 55px;
    border: 2px;
    
}
.phone-bodder{
  margin-top: 13px; 
  margin-left: 13px; 
  min-height: 595px;
  width: 345.2px;
  background-color: rgb(16, 13, 13);
  border-radius: 55px;
  border: 4px;
}

.phonescreen{
    background-color: rgba(255, 255, 255, 0.778);
    margin-top: 8px;
    margin-left: 7.5px;
    min-height: 580px;
    
    width: 330px;
    border-radius: 55px;
    border: 2px;
}