/* SideNavBar.css */

.sideNavBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }
  


  


  /* Additional styles for the page content */

  

  